@import "tailwindcss";

@theme {
  --color-correct: #6aaa64;
  --color-present: #c9b458;
  --color-absent: #787c7e;
  --color-typing: #d3d6da;
  --color-border-empty: #3a3a3c;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop {
  animation: pop 0.1s ease-in-out;
}

body {
  @apply min-h-screen flex flex-col items-center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
